<% layout("/layout/boilerplate") -%>
<div class="back-icon">
    <a href="/profile/<%= userDetails._id %>"><i class="fa-solid fa-arrow-left"></i></i></a>
</div>
<div class="main-content">
    <div class="signup">
        <h3>Edit for Intern</h3>
        <form action="/<%= userDetails._id %>/edit?_method=PUT" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>

            <label for="username" class="form-label">username</label>
            <input type="text" name="username" id="username" placeholder="Enter your username" class="form-control"
                required value="<%= userDetails.username %>">
            <div class="invalid-feedback">
                plz Enter your username.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>

            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" value="<%= userDetails.email%>" id="email" placeholder="Enter your Email" class="form-control" required>
            <div class="invalid-feedback">
                plz Enter your Email.
            </div>


            <label for="about" class="form-label">About</label>
            <textarea name="about" id="about" placeholder="Enter something about your self"
                class="form-control" rows="4"><%= userDetails.about %></textarea>
            <div class="invalid-feedback">
                plz Enter valid field.
            </div>


            <label for="education" class="form-label">education</label>
            <select id="education" name="education" class="form-control">
                <option value="B.Tech">B.Tech</option>
                <option value="BCA">BCA</option>
                <option value="BBA">BBA</option>
                <option value="M.Tech">M.Tech</option>
                <option value="BE">BE</option>
            </select>



            <label for="experience" class="form-label">experience</label>
            <input type="text" name="experience" id="experience" placeholder="you have any experience or freshers.?"
                class="form-control" required value="<%= userDetails.experience %>">
            <div class="invalid-feedback">
                plz Enter your experience.
            </div>

            <button class="btn" style="background-color: #A4CDED;">Edit</button>

        </form>
    </div>
</div>

    